body{
  background-color: #AEADF0;
}

h3 {
  color: lavender;
  text-align: center;
  font-size: 70px;
  
}
img{
  width: 20%
  
    
}
li{
  display: inline;
  padding: 15px

}
a{
  text-decoration: lavender;
  color: lavender;

}
